# User-specific
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
out/
Debug/
Release/

# Visual Studio
.vs/
.vscode/

# Secrets
appsettings.json
appsettings.Development.json

# Local DB
*.mdf
*.ldf

# Logs & Misc
*.log
*.db
*.sqlite
